{% extends 'main.html' %}
{% load widget_tweaks %}

{% block Contenido %}

<form method="post" action="." enctype="multipart/form-data">
    <div class="card card-default">
        
        {% csrf_token %}
        {% for field in form.visible_fields %}
        <div class="form-group">
    
        <label>{{ field.label }}:</label>

        {{ field|add_class:"form-control"|attr:"autocomplete:off" }}

        {% if field.errors %}
        <div class="text-danger mt-1">
            {% for error in field.errors %}
                <small>{{ error }}</small><br>
            {% endfor %}
        </div>
    {% endif %}

</div>
{% endfor %}

    <div class="card-footer">
        <button type="submit" title="Guardar registro" class="btn btn-primary btn-xs">
            <i class="fas fa-plus"></i> Guardar registro
        </button>
        <a href="{% url 'app:listar_productos' %}" class="btn btn-danger" title="Cancelar">
            Cancelar
        </a>
    </div>
    </div>

</form>


{% endblock %}
{% block js %}
    {% endblock %}